body {background-color: rgb(107, 183, 250);}
h1 {text-align: center;}
img {align-self: center;}
table {border="0"
                cellpadding="10"
                cellspacing="0"
                align="center"
                width="900px"}
